<!--Timeline Wrapper-->
<div class="timeline-wrapper">
	<div class="chk-block">
		<div class="chk-block-title">
			<h3 class="text-capitalize">{{'Timeline'|translate}}</h3>
		</div>
		<div class="chk-block-content">
			<div class="timeline-flow clearfix">
				<div class="timeline-block">
					<div class="timeline-badge bg-white">
						<span class="icon"><i class="fa fa-clock-o fa-2x text-muted" aria-hidden="true"></i></span>
					</div>
					<div class="timeline-card">
						<div class="card-body">
							<div class="timeline-img mb-3">
								<img src="assets/img/project-1.jpg" class="img-fluid" alt="timeline image" width="940" height="300" />
							</div>
							<h2>Title of section 1</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
							<a class="btn btn-primary btn-lg btn-square" href="javascript:void(0)">Read more</a>
							<span class="timeline-date text-nowrap">Jan 14</span>
						</div>
					</div>
				</div>
				<div class="timeline-block">
					<div class="timeline-badge bg-white">
						<span class="icon"><i class="fa fa-clock-o fa-2x text-muted" aria-hidden="true"></i></span>
					</div>
					<div class="timeline-card">
						<div class="card-body">
							<h2>Sample Blog Post</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
							<a class="btn btn-primary btn-lg btn-square" href="javascript:void(0)">Read more</a>
							<span class="timeline-date text-nowrap">Jan 14</span>
						</div>
					</div>
				</div>
				<div class="timeline-block video-wrapper">
					<div class="timeline-badge bg-white">
						<span class="icon"><i class="fa fa-clock-o fa-2x text-muted" aria-hidden="true"></i></span>
					</div>
					<div class="timeline-card">
						<div class="card-body">
							<div class="timeline-img mb-3">
								<img src="assets/img/project-1.jpg" class="img-fluid" alt="timeline image" width="940" height="300" />
								<a class="icon-wrap d-flex align-items-center justify-content-center" (click)="onVideoPlayer()">
                           <i class="fa fa-play fa-2x text-dark" aria-hidden="true"></i>
                        </a>
							</div>
							<h2>Video Post</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
							<a class="btn btn-primary btn-lg btn-square" href="javascript:void(0)">Read more</a>
							<span class="timeline-date text-nowrap">Jan 14</span>
						</div>
					</div>
				</div>
				<div class="timeline-block video-wrapper">
					<div class="timeline-badge bg-white">
						<span class="icon"><i class="fa fa-clock-o fa-2x text-muted" aria-hidden="true"></i></span>
					</div>
					<div class="timeline-card">
						<div class="card-body">
							<h2>Blockquote</h2>
							<blockquote>
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
							</blockquote>
							<a class="btn btn-primary btn-lg btn-square" href="javascript:void(0)">Read more</a>
							<span class="timeline-date text-nowrap">Jan 14</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- chk Block Closed -->
</div>
<!-- Timeline Wrapper Closed -->